<div class="container">
<h1 class="text-center">Basic Math Functions</h1>
<fieldset>
    <legend>Addition</legend>
    <input type="text" ng-model="vm.addNumberOne">
    <br>
    <input type="text" ng-model="vm.addNumberTwo">
    <br>
    <input type="submit" ng-click="vm.addNumbers()">
    <br>
    <p>The total is: {{vm.sum}}</p>
</fieldset>

<fieldset>
    <legend>Subtraction</legend>
    <input type="text" ng-model="vm.subtractNumberOne">
    <br>
    <input type="text" ng-model="vm.subtractNumberTwo">
    <br>
    <input type="submit" ng-click="vm.subtractNumbers()">
    <br>
    <p>The total is: {{vm.sum}}</p>
</fieldset>

<fieldset>
    <legend>Multiplication</legend>
    <input type="text" ng-model="vm.multiplyNumberOne">
    <br>
    <input type="text" ng-model="vm.multiplyNumberTwo">
    <br>
    <input type="submit" ng-click="vm.multiplyNumbers()">
    <br>
    <p>The total is: {{vm.sum}}</p>
</fieldset>

<fieldset>
    <legend>Division</legend>
    <input type="text" ng-model="vm.divideNumberOne">
    <br>
    <input type="text" ng-model="vm.divideNumberTwo">
    <br>
    <input type="submit" ng-click="vm.divideNumbers()">
    <br>
    <p>The total is: {{vm.sum}}</p>
</fieldset>


</div>
